$color-negro: #053908;
$color-gris-oscuro: #0a3c0b;
$color-gris-medio: #105c08;
$color-gris-claro: #abadac;
$color-blanco: #ffffff;

$color-error: #300d0d;
$color-exito: #a8ffa8;

$fuente-clase: Arial, Helvetica, sans-serif;