@use 'variables' as *;
@use 'layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-clase;
    color: $color-negro;
    background: $color-blanco;
    line-height: 1.4;
}

.btn-primary {
    display: inline-block;
    background: $color-gris-oscuro;
    color: $color-blanco;
    padding: 8px 16px;
    border: 1px solid $color-blanco;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

    &:hover {
        background: $color-gris-medio;
    }
}